* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 50px 20px 0 20px;
}

img {
    width: 80px; 
    margin: 60px;
}

select {
    border: none;
    outline: none;
    color: #999;
    background-color: white;
}

input {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    outline: none;
    border: 1px solid #999;
    margin-bottom: 10px;
}

.button_kirish {
    width: 100%;
    height: 40px;
    background-color: blue;
    color: white;
    border-radius: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.newakk_button {
    width: 100%;
    height: 40px;
    background-color: white;
    color: blue;
    border-radius: 20px;
    border: 1px solid blue;
    margin-top: 130px;
}

i {
    color: #434242;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 20px;
}